[project]
	description = Android DalvikVM (SaberMod)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Saber-Dev (pbeeler)
[access "refs/for/refs/*"]
	read = group user/Saber-Dev (pbeeler)
	push = group user/Saber-Dev (pbeeler)
	label-Code-Review = -2..+2 group user/Saber-Dev (pbeeler)
	label-Verified = -1..+1 group user/Saber-Dev (pbeeler)
	rebase = group user/Saber-Dev (pbeeler)
	removeReviewer = group user/Saber-Dev (pbeeler)
	submit = group user/Saber-Dev (pbeeler)
[access "refs/heads/*"]
	read = group user/Saber-Dev (pbeeler)
	create = group user/Saber-Dev (pbeeler)
	push = +force group user/Saber-Dev (pbeeler)
	pushMerge = group user/Saber-Dev (pbeeler)
[access "refs/tags/*"]
	push = +force group user/Saber-Dev (pbeeler)
	pushTag = group user/Saber-Dev (pbeeler)
	pushSignedTag = group user/Saber-Dev (pbeeler)
